<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <!--<#if shiro.hasPermission("business:cdpost:save")>-->
                <!--<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>-->
            <!--</#if>-->
            <#if shiro.hasPermission("business:cdpost:update")>
                <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
            </#if>
            <#if shiro.hasPermission("business:cdpost:delete")>
                <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
            </#if>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">查询条件</div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <div id="formSearch" class="form-inline">
                            <input type="text" class="form-control" placeholder="帖子名称" id="name">
                            <select class="form-control" id="groupId" >
                                <option value="" selected>选择圈子</option>
                                <option v-bind:value="t.id" v-for="t in groups" style="padding: 10px 0px;">{{ t.name }}</option>
                            </select>
                            <button type="button" class="btn btn-primary" @click="query" >查询</button>
                            <button type="reset" class="btn btn-default" >重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">内容</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="cdPost.conetnt" placeholder="内容"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">图片</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="cdPost.imgs" placeholder="图片"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">发帖用户</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="cdPost.userId" placeholder="发帖用户"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">创建时间</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="cdPost.createTime" placeholder="创建时间"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">更新时间</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="cdPost.updateTime" placeholder="更新时间"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">标题</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="cdPost.title" placeholder="标题"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">小组id</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="cdPost.groupId" placeholder="小组id"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/business/cdpost.js?_${.now?long}"></script>
</body>
</html>