<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <#include "/header.html">
    <script src="${request.contextPath}/statics/libs/jquery.form.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <#if shiro.hasPermission("business:cdstore:save")>
                <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
            </#if>
            <#if shiro.hasPermission("business:cdstore:update")>
                <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
            </#if>
            <#if shiro.hasPermission("business:cdstore:delete")>
                <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
            </#if>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">查询条件</div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <div id="formSearch" class="form-inline">
                            <input type="text" class="form-control" placeholder="店铺名称" id="name">
                            <button type="button" class="btn btn-primary" @click="query" >查询</button>
                            <button type="reset" class="btn btn-default" >重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal" id="storeForm" method="post" enctype="multipart/form-data" role="form">
            <input name="id" id="id" hidden >
            <div class="form-group">
                <div class="col-sm-2 control-label">关联商家用户</div>
                <div class="col-sm-10">
                    <select v-model="cdStore.userId" name="userId" class="form-control">
                        <option v-bind:value="u.userId" v-for="u in userList" style="padding: 10px 0px;">{{ u.username }}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">店铺名称</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="name" v-model="cdStore.name" placeholder="店铺名称"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">缩略图</div>
                <div class="col-sm-10">
                    <!--<input type="text" class="form-control" v-model="cdStore.imgs" placeholder="轮播图"/>-->
                    <input type="file" name="short_img_file" accept="image/*" class="btn btn-default" value="请选择图片" />
                    <img v-model="cdStore.imgs" placeholder="缩略图"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">简介</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="about" v-model="cdStore.about" placeholder="简介"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">店铺类型</div>
                <div class="col-sm-10">
                    <select v-model="cdStore.type" name="type" class="form-control">
                        <option v-bind:value="t.code" v-for="t in storeType" style="padding: 10px 0px;">{{ t.value }}</option>
                    </select>
                    <!--<input type="text" class="form-control" v-model="" placeholder="店铺类型"/>-->
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">轮播图</div>
                <div class="col-sm-10">
                    <!--<input type="text" class="form-control" v-model="cdStore.imgs" placeholder="轮播图"/>-->
                    <input type="file" name="desc_img_file" accept="image/*" class="btn btn-default" multiple value="请选择图片" />
                    <img v-model="cdStore.imgs" placeholder="轮播图"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">店铺联系电话</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="phone" v-model="cdStore.phone" placeholder="店铺联系电话"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">备用电话</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="backupPhone" v-model="cdStore.backupPhone" placeholder="备用电话"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">维度</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="lat" v-model="cdStore.lat" placeholder="维度"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">经度</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="lon" v-model="cdStore.lon" placeholder="经度"/>
                </div>
            </div>
            <!--<div class="form-group">-->
                <!--<div class="col-sm-2 control-label">创建时间</div>-->
                <!--<div class="col-sm-10">-->
                    <!--<input type="text" class="form-control" v-model="cdStore.createTime" placeholder="创建时间"/>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<div class="col-sm-2 control-label">更新时间</div>-->
                <!--<div class="col-sm-10">-->
                    <!--<input type="text" class="form-control" v-model="cdStore.updateTime" placeholder="更新时间"/>-->
                <!--</div>-->
            <!--</div>-->
            <div class="form-group">
                <div class="col-sm-2 control-label">评分</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="score" v-model="cdStore.score" placeholder="评分"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">销量</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="sales" v-model="cdStore.sales" placeholder="销量"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">价格</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="price" v-model="cdStore.price" placeholder="价格"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">店铺地址</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="address" v-model="cdStore.address" placeholder="店铺地址"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">备注</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="remark" v-model="cdStore.remark" placeholder="备注"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/business/cdstore.js?_${.now?long}"></script>
</body>
</html>